

.title{
    text-align: center;
    color: black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
.content{
    font-style: normal;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.testimonials img{
    width: 14px;
    height: 20px;
}
.thumbnail{
    width: 250px;
    height: 300px;
}
.f_thumb{
    height: 300px;
    width: 300px;

}
.c_thumb{
    height: 400px;
    width: 300px;

}

