*{
    background-image: url(/realestate/static/assets/images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}

.title{
    text-align: center;
    color: black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}
