
{% extends "base.html" %}

{% load static %}
<title>
  {% block title %}ABOUT{% endblock title %}
</title>
{% block body %}
<!-- About Section - Home Page -->
<section id="about" class="about">

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-xl-5 content">
        <h3>About Us</h3>
        <h2>Ducimus rerum libero reprehenderit cumque</h2>
        <p>Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim reiciendis minus et rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora deleniti soluta.</p>
        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              
              <h3>Apartments</h3>
              <img src="{% static 'assets/images/fe1.jpeg' %}"/>
             
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              
              <h3>Bungalows</h3>
              <img src="{% static 'assets/images/fe2.jpeg' %}"/>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              
              <h3>mansions</h3>
              <img src="{% static 'assets/images/home1.jpeg' %}"/>
            </div>
          </div> <!-- End Icon Box -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              
              <h3>Penthouses</h3>
              <img src="{% static 'assets/images/fe3.jpeg' %}"/>
            </div>
          </div> <!-- End Icon Box -->

        </div>
      </div>

    </div>
  </div>

</section><!-- End About Section -->
{% endblock body %}
