{% extends "base.html" %}
<title>
{% block title %}
SIGNUP
{% endblock title %}
</title>
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
        <center>
        <div class="col-md-4 mt-3">
            <h2 class="text-black text-center">SIGNUP</h2>
            {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>
            {{message}}

          </strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="Close"></button>
        </div>
        {% endfor %}
            <form action="/handlesignup" method="post"> {% csrf_token %}
                <div class="form-group mt-2">
                 <input type="text" id="username" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group mt-2">
                <input type="email" id="email" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="form-group mt-2">
                <input type="password" id="pass1" class="form-control" name="pass1" placeholder="Create Password" required>
                </div>
                <div class="form-group mt-2">
                <input type="password" id="pass2" class="form-control" name="pass2" placeholder="Confirm Password" required>
                </div>
                <div class="d-grid gap-2 mt-2">
                    <button class="btn btn-primary" type="submit">SignUp</button>
                    
                  </div>
                  <div class="form-group text-black">
                <p>Already have an account? <a href="handlelogin" >Login</a> </p>
                  
                  </div>

            </form>
        </div>
    </center>
    </div>
</div>

{% endblock body %}